ENABLED = True
TYPE = "service"
ID = "test_simple_service"

import time

def start():
    print("Simple service started")
    while True:
        time.sleep(1)
